@use './common/variables' as var;

.about{
    font-size:1.8rem;
    .profile{
        display:grid;
        grid-template-columns:1fr 1fr;
        padding-top:2rem;
        .name{
            @include var.fontWeight(500)
        }
        .date{
            color:#b7b7b7
        }
    }
    .info{
        @include var.flex(flex-start, center);
        gap:2rem; 
        .image{
            @include var.circle(7rem);
            overflow:hidden
        }
    }
    .career{
        position:relative;
        &::after{
            @include var.pseudo(1px, auto);
            left:0.4rem;
            top:5.8rem;
            bottom:1rem;
            background:#d8d8d8;
            z-index:-1
        }
        li{
            @include var.flex(flex-start, center);
            gap:3rem;
            padding-top:5rem
        }
        .dot{
            @include var.circle(0.8rem);
            background:var.$theme
        }
        .date{
            min-width:150px
        }
    }
    .skills{
        display:grid;
        grid-template-columns:repeat(4, 1fr);
        gap:2rem;
        perspective:1920px;
        .box{
            @include var.flex(space-between, flex-end, wrap, column);
            position:relative;
            padding:5rem 3rem
        }
        dl{
            width:100%
        }
        dd{
            line-height:30px;
            @include var.fontWeight(300)
        }
        dt{
            font-size:2.6rem;
            @include var.fontWeight(600);
            margin-bottom:4rem
        }
        .box:nth-child(odd){
            background:var.$theme;
            color:#fff;
            .icons{
                .dot{
                    opacity:0.15
                }
                img{
                    filter:brightness(0) saturate(100%) invert(100%) sepia(6%) saturate(7500%) hue-rotate(224deg) brightness(109%) contrast(105%);
                }
            }
        }
        .box:nth-child(even){
            background:#fff;
            @include var.border(#d8d8d8);
            dd{
                color:#666
            }
        }
        .icons{
            position:relative;
            z-index:1;
            .dot{
                position:absolute;
                top:-2rem;
                left:-3rem;
                @include var.circle(7rem);
                background:#ffeeea;
                z-index:-1
            }
            img{
                width:6.4rem;
                max-width:none;
                filter:brightness(0) saturate(100%) invert(14%) sepia(0%) saturate(3%) hue-rotate(154deg) brightness(104%) contrast(97%)
            }
        }
    }
    @include var.custom(1000px){
        .profile{
            align-items:flex-start
        }
        .info{
            padding-top:4rem
        }
        .career{
            li{
                gap:2rem 3rem
            }
            .name{
                width:100%;
                padding-left:3.68rem
            }
        }
        .skills{
            .box{
                padding-bottom:3rem
            }    
            dt{
                margin-bottom:2rem
            }
        }
    }
    @include var.custom(var.$mobile){
        .profile{
            grid-template-columns:1fr
        }
        .career{
            li{
                gap:3rem
            }
            .date{
                min-width:auto
            }
            .name{
                width:auto;
                padding-left:0
            }
        }
        .skills{
            grid-template-columns:1fr 1fr;
            .box{
                padding-bottom:2rem;
                padding-top:4rem;
                &:nth-child(3){
                    order:1
                }
            }
            dd{
                line-height:1.7
            }
        }
    }
    @include var.custom(500px){
        font-size:2.4rem;
        .skills{
            gap:2rem 3rem
        }
    }
    @include var.custom(320px){
        font-size:2.2rem
    }
}