@use './common/variables' as var;

.contact{
    top:auto !important;
    bottom:0;
    height:auto !important;
    background:var.$dblue;
    color:var.$light;
    border-radius:5rem 5rem 0 0;
    transform:translateY(101%);
    z-index:-1;
    .inner{
        @include var.flex(space-between);
        padding-top:10rem
    }
    .list{
        display:grid;
        gap:8rem;
        li{
            @include var.flex(flex-start, center);
            gap:5rem
        }
        dt{
            @include var.setFont(2.4rem, 500);
            margin-bottom:1.5rem
        }
        dd{
            @include var.setFont(1.8rem, 300);
            line-height:1.35;
            word-break:break-all;
            color:#b7b7b7;
            a:hover{
                color:var.$light;
                text-decoration:underline
            }
        }
    }

    @include var.custom(var.$mobile){
        .inner{
            flex-direction:column;
            justify-content:flex-start;
            gap:7rem;
            padding-top:7rem
        }
        .list{
            gap:5rem
        }
    }
    @media(orientation:landscape){
        .inner{
            justify-content:space-between;
            flex-direction:row;
            padding-top:5rem
        }
        .list{
            width:55%;
            gap:3rem;
            li{
                flex-wrap:nowrap;
                gap:3rem
            }
            dt{
                margin-bottom:1rem
            }
            .img{
                font-size:1.4rem
            }
        }
    }
}